/* Carousel */
.carouselImg {
  height: 600px!important;
  border-radius: 10px;
}

/* END Carousel */
.headline {
  font-style: italic;
}

.greyP {
  font-size: large;
  font-weight: 400;
  color: grey;
}

@media only screen and (max-width: 450px) {
  .carouselImg {
    height: 300px!important;
  }
}